---

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/Document.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>MRT Map SG</title>
  </head>
  <body style="margin:0; padding:0; height:100vh;">
    <img
      src="SM_Eng_(Ver280225)_Hume.svg"
      alt="MRT Map SG"
      style="width:100%; height:100%; object-fit:contain;"
    />
  </body>
</html>
